@use "sass:map";
@import "@not-govuk/sass-base";
@import "govuk-frontend/dist/govuk/components/generic-header/index";

.govuk-generic-header {
  border-color: govuk-functional-colour("brand");
  border-style: solid;
  border-width: 0;

  // Department colours
  @each $i, $v in $govuk-colours-organisations {
    &--#{$i} {
      $contrast-safe: map.get($v, "contrast-safe");
      $light-colour: map.get($v, "colour");
      $colour: if($contrast-safe, $contrast-safe, $light-colour);
      --govuk-brand-colour: #{$colour};
      border-bottom-width: govuk-spacing(2);

      .govuk-generic-header__logo {
        @include govuk-responsive-padding(2, "top");
        @include govuk-responsive-padding(2, "bottom");
      }
    }
  }

  &--not-govuk {
    border-bottom-width: govuk-spacing(2);

    .govuk-generic-header__logo {
      @include govuk-responsive-padding(2, "top");
      @include govuk-responsive-padding(2, "bottom");
    }
  }

  svg,
  &__logotype {
    display: inline-block;

    &--coat {
      position: relative;
      top: -5px;
      margin-bottom: -5px;
      margin-right: 7px;
    }
  }

  &__logotype-text {
    font-weight: $govuk-font-weight-bold;
    vertical-align: middle;
  }

  &__homepage-link {
    vertical-align: bottom;
  }

  &__product-link {
    @extend .govuk-generic-header__homepage-link;
    @include govuk-font(24);

    display: inline-block;
  }
}
