@use "@not-govuk/sass-base" as *;
@use "govuk-frontend/dist/govuk/components/select";

.govuk-select {
  &[multiple] {
    height: auto;
    padding: 0;

    option {
      padding: 0.3125em;

      &:nth-child(even) {
        background-color: govuk-colour('black', $variant: 'tint-95');
        color: govuk-functional-colour(text);
      }

      &[disabled],
      &:nth-child(even)[disabled] {
        color: govuk-colour('black', $variant: 'tint-80');
      }
    }
  }
}

// Global override
select {
  @extend .govuk-select;

  &.govuk-select--error {
    @extend .govuk-select--error;
  }
}

@include govuk-media-query($from: 'tablet') {
  select {
    width: auto;
  }
}

option,
select {
  background-color: govuk-colour('white');
  color: govuk-functional-colour(text);
}

option[disabled],
option:nth-child(even)[disabled] {
  color: govuk-colour('black', $variant: 'tint-80');
}

select[multiple] {
  height: auto;
  padding: 0;
}

select[multiple] > option {
  padding: 0.3125em;
}

option:nth-child(even) {
  background-color: govuk-colour('black', $variant: 'tint-95');
  color: govuk-functional-colour(text);
}
