h1 {
  @extend .govuk-heading-xl;
  color: inherit;
}

h2 {
  @extend .govuk-heading-l;
  color: inherit;
}

h3 {
  @extend .govuk-heading-m;
  color: inherit;
}

h4 {
  @extend .govuk-heading-s;
  color: inherit;
}

// FIXME: Remove?
.govuk-caption,
.caption {
  @extend .govuk-caption-xl;
  font-size: 0.5625em;
  margin-bottom: 0.28em;
}

.not-govuk-page--dark {
  .govuk-caption,
  .caption {
    color: $not-govuk-dark-mode-secondary-text-colour;
  }
}
