a,
a:hover,
a:visited,
a:active {
  color: $govuk-text-colour;
}

.page-body a {
  color: $govuk-link-colour;
}

.page-body a:hover {
  color: $govuk-link-hover-colour;
}

.page-body a:visited {
  color: $govuk-link-visited-colour;
}

.page-body a:active {
  color: $govuk-link-active-colour;
}
