@each $i, $v in $govuk-colours-organisations {
  .nguk-page--#{$i} .govuk-tag,
  .#{$i} .govuk-tag {
    background-color: map_get($v, "colour-websafe");
  }
}

.nguk-page--hm-passport-office .govuk-tag,
.nguk-page--hmpo .govuk-tag,
.hm-passport-office .govuk-tag,
.hmpo .govuk-tag {
  $home-office: map-get($govuk-colours-organisations, "home-office");

  background-color: map_get($home-office, "colour-websafe");
}
