code {
  font-family: ui-monospace, menlo, "Cascadia Mono", "Segoe UI Mono", consolas, "Liberation Mono", monospace;
  padding: 2px 4px;
  font-size: 1rem;
  line-height: 1.25;
  color: #d13118;
  background-color: #f3f2f1;
}

pre {
  > code {
    display: block;
    overflow-y: scroll;
    padding: 1em;
  }
}
