@use "@not-govuk/sass-base" as *;
@use "govuk-frontend/dist/govuk/components/panel";
@use "govuk-frontend/dist/govuk/components/button";
@use "govuk-frontend/dist/govuk/core/links";

$govuk-inverse-button-text-colour: govuk-functional-colour("brand") !default;

.govuk-panel {
  &--confirmation,
  &--interruption {
    .govuk-button {
      @extend .govuk-button--inverse;
      color: $govuk-inverse-button-text-colour;

      &:link,
      &:visited,
      &:active,
      &:hover {
        color: $govuk-inverse-button-text-colour;
      }
    }

    a, .govuk-link {
      @include govuk-link-style-inverse;
    }
  }
}
