@import "@not-govuk/sass-base";
@import "govuk-frontend/dist/govuk/components/panel";
@import "govuk-frontend/dist/govuk/components/button";
@import "govuk-frontend/dist/govuk/core/_links";

$govuk-inverse-button-text-colour: $govuk-brand-colour !default;

.govuk-panel {
  &--confirmation {
    .govuk-button {
      @extend .govuk-button--inverse;
      color: $govuk-inverse-button-text-colour;

      &:link,
      &:visited,
      &:active,
      &:hover {
        color: $govuk-inverse-button-text-colour;
      }
    }

    a, .govuk-link {
      @include govuk-link-style-inverse;
    }
  }

  &--interruption {
    @extend .govuk-panel--confirmation;
    background: govuk-colour("blue");
    text-align: left !important;
  }
}
