.nguk-page {
  @extend .nguk-site;
  display: flex;
  flex-direction: column;
  overflow: initial;
  flex: 1 0 auto;
  padding: initial;
}

.nguk-page--not-govuk {
  @extend .nguk-site--not-govuk;
}

@import './body.scss';

// Wide
.govuk-width-container--wide,
.wide .govuk-width-container {
  max-width: none;
  margin-left: $govuk-gutter-half;
  margin-right: $govuk-gutter-half;

  @include govuk-media-query($from: tablet) {
    margin-left: $govuk-gutter;
    margin-right: $govuk-gutter;
  }
}

aside {
  padding-top: govuk-spacing(2);
  border-top: 2px solid $govuk-brand-colour;

  h1 {
    @extend .govuk-heading-l;
  }

  h2 {
    @extend .govuk-heading-m;
  }

  h3 {
    @extend .govuk-heading-s;
  }

  h4 {
    @extend .govuk-heading-s;
  }
}

// Department colours
@each $i, $v in $govuk-colours-organisations {
  .#{$i} aside {
    border-color: map_get($v, "colour-websafe");
  }
}

.hm-passport-office aside,
.hmpo aside {
  $home-office: map-get($govuk-colours-organisations, "home-office");

  border-color: map_get($home-office, "colour-websafe");
}
