@import "@not-govuk/sass-base";
@import "govuk-frontend/dist/govuk/components/header";

.govuk-header {
  &__container {
    // Department colours
    @each $i, $v in $govuk-colours-organisations {
      &--#{$i} {
        $contrast-safe: map_get($v, "contrast-safe");
        $light-colour: map_get($v, "colour");
        $colour: if($contrast-safe, $contrast-safe, $light-colour);
        border-color: $colour !important;

        .govuk-header__navigation-item--active a,
        .govuk-header__navigation-item a.govuk-header__link--active {
          &:link,
          &:hover,
          &:visited {
            color: $light-colour !important;
          }

          &:focus {
            color: $govuk-focus-text-colour !important;
          }
        }
      }
    }
  }

  &__logotype {
    &--coat {
      margin-right: 7px !important;
      top: -1px !important;
    }
  }

  &__link {
    &--homepage {
      // Must reinstate this to allow for text on non-GOV.UK pages
      font-weight: $govuk-font-weight-bold;
      line-height: 1;
    }

    &--small {
      @include govuk-font(24);

      &.govuk-header__link--homepage {
        @extend .govuk-header__link--small;
      }
    }
  }

  // Reset some things from base style
  &__navigation {
    color: initial;
    font-size: initial;
    font-weight: initial;
    line-height: initial;
  }

  // Reset some things from base style
  &__menu-button {
    box-sizing: initial;
    width: initial;
    border-radius: initial;
    box-shadow: initial;
    text-align: initial;
    vertical-align: initial;
    cursor: initial;
    -webkit-appearance: initial;
  }

  &__navigation-item {
    // Reset some things from base style
    margin-bottom: initial;

    // Links set to active by the router
    .govuk-header__link--active {
      $govuk-header-link-active: #1d8feb;

      &:link,
      &:hover,
      &:visited {
        color: $govuk-header-link-active;
      }

      &:focus {
        color: $govuk-focus-text-colour;
      }
    }
  }
}

.not-govuk-page--dark .govuk-header {
  border-color: $not-govuk-dark-mode-background-colour;
}
