@use "sass:map";
@import "@not-govuk/sass-base";
@import "govuk-frontend/dist/govuk/components/header/index";

.govuk-template--rebranded {
  .govuk-header {
    // Department colours
    @each $i, $v in $govuk-colours-organisations {
      &--#{$i} {
        $contrast-safe: map.get($v, "contrast-safe");
        $light-colour: map.get($v, "colour");
        $colour: if($contrast-safe, $contrast-safe, $light-colour);
        background-color: $colour !important;

        .govuk-header__link {
          &--homepage {
            &:not(:focus) {
              background-color: $colour !important;
            }
          }
        }
      }
    }
  }
}

.govuk-header {
  // Department colours
  @each $i, $v in $govuk-colours-organisations {
    &--#{$i} {
      $contrast-safe: map.get($v, "contrast-safe");
      $light-colour: map.get($v, "colour");
      $colour: if($contrast-safe, $contrast-safe, $light-colour);

      &.govuk-header--full-width-border {
        border-color: $colour !important;
      }

      .govuk-header__container {
        border-color: $colour !important;
      }
    }
  }

  &__logotype {
    &--coat {
      margin-right: 7px !important;
      top: -1px !important;
    }
  }

  &__homepage-link {
    // Must reinstate this to allow for text on non-GOV.UK pages
    font-weight: $govuk-font-weight-bold;
    line-height: 1;

    &--small {
      @include govuk-font(24);

      &.govuk-header__homepage-link {
        @extend .govuk-header__homepage-link--small;
      }
    }
  }

  &__service-name {
    @include govuk-font(24);
    @include govuk-responsive-margin(2, "bottom");

    display: inline-block;
  }
}

.not-govuk-page--dark .govuk-header {
  border-color: $not-govuk-dark-mode-background-colour;
}
