@use "sass:color";
@use "sass:map";
@import "@not-govuk/sass-base";
@import "govuk-frontend/dist/govuk/components/service-navigation/index";

.govuk-service-navigation {
  &__list {
    &__item {
      @extend .govuk-service-navigation__item;

      &--active {
        @extend .govuk-service-navigation__item--active;
      }
    }

    &__link {
      @extend .govuk-service-navigation__link;

      &--active {
        @extend .govuk-service-navigation__link--active !optional;
      }
    }
  }
}

.not-govuk-page--dark .govuk-service-navigation {
  background-color: $not-govuk-dark-mode-footer-colour;
  border-color: $not-govuk-dark-mode-border-colour;
}

.govuk-template--rebranded {
  // Department colours
  @each $i, $v in $govuk-colours-organisations {
    &.not-govuk-page--#{$i} {
      $contrast-safe: map.get($v, "contrast-safe");
      $light-colour: map.get($v, "colour");
      $colour: if($contrast-safe, $contrast-safe, $light-colour);

      $background-colour: color.change($colour, $lightness: 97.3%, $chroma: 2.2, $space: lch);
      $border-colour: color.change($colour, $lightness: 72.7%, $chroma: 24.3, $space: lch);

      $background-colour-dark: color.change($colour, $lightness: 15%, $chroma: 25, $space: lch);
      $border-colour-dark: color.change($colour, $lightness: 10%, $chroma: 25, $space: lch);

      .govuk-service-navigation {
        background-color: $background-colour !important;
        border-bottom-color: $border-colour !important;
      }

      &.not-govuk-page--dark .govuk-service-navigation {
        background-color: $background-colour-dark !important;
        border-bottom-color: $border-colour-dark !important;
      }
    }
  }
}
