@import "@not-govuk/sass-base";
@import "govuk-frontend/dist/govuk/components/footer";

.govuk-footer {
  .govuk-link, a {
    @extend .govuk-footer__link;
  }

  ol, ul, p {
    font-size: inherit;
  }
}

.not-govuk-page--dark .govuk-footer {
  background-color: $not-govuk-dark-mode-footer-colour;
  border-color: $not-govuk-dark-mode-border-colour;
}
