@import "@not-govuk/sass-base";
@import "govuk-frontend/dist/govuk/components/input";

.govuk-input {
  &[type="checkbox"],
  &[type="file"],
  &[type="radio"],
  &[type="range"] {
    border: initial;
    box-sizing: initial;
    height: initial;
    margin: initial;
    padding: initial;
    width: initial;
    appearance: auto;
  }

  &[type="color"] {
    width: 2.5em;
  }

  &[type="range"] {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    &:focus {
      box-shadow: none;
    }
  }
}

// Global override
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  @extend .govuk-input;

  &.govuk-input--error {
    @extend .govuk-input--error;
  }
}

input[type="color"] {
  width: 2.5em;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

input[type="password"],
input[type="text"] {
  appearance: none;
}

input[type="range"] {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

input[type="range"]:focus {
  box-shadow: none;
}

@include govuk-media-query($from: 'tablet') {
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="tel"],
  input[type="time"],
  input[type="week"] {
    width: auto;
  }
}

input {
  background-color: govuk-colour('white');
  color: $govuk-text-colour;
}

// FIXME: Do we still need these? - Use a react prop instead?
input.width-30,
select.width-30,
textarea.width-30 {
  @extend .govuk-input--width-30;
}

input.width-20,
select.width-20,
textarea.width-20 {
  @extend .govuk-input--width-20;
}

input.width-10,
select.width-10,
textarea.width-10 {
  @extend .govuk-input--width-10;
}

input.width-5,
select.width-5,
textarea.width-5 {
  @extend .govuk-input--width-5;
}

input.width-4,
select.width-4,
textarea.width-4 {
  @extend .govuk-input--width-4;
}

input.width-3,
select.width-3,
textarea.width-3 {
  @extend .govuk-input--width-3;
}

input.width-2,
select.width-2,
textarea.width-2 {
  @extend .govuk-input--width-2;
}
