@import "@not-govuk/sass-base";
@import "govuk-frontend/dist/govuk/core/typography";

.not-govuk-aside,
aside {
  border-style: solid;
  border-color: govuk-functional-colour(brand);
  border-width: govuk-spacing(1) 0 0 0;
  @include govuk-font(16);
  @include govuk-responsive-padding(2, "top");
  @include govuk-responsive-margin(6, "bottom");

  & a,
  & ol,
  & p,
  & ul,
  & .govuk-body,
  & .govuk-link,
  & .govuk-list {
    @include govuk-font(16);
  }

  & .govuk-body-l,
  & p.lead {
    @include govuk-font(19);
  }

  & .govuk-body-s {
    @include govuk-font(16);
  }

  h1 {
    @extend .govuk-heading-l;
  }

  h2 {
    @extend .govuk-heading-m;
  }

  h3 {
    @extend .govuk-heading-s;
  }

  h4 {
    @extend .govuk-heading-s;
  }
}
