@import "@not-govuk/sass-base";
@import "govuk-frontend/dist/govuk/core/_typography";

.not-govuk-aside,
aside {
  @include govuk-font(16);
  @include govuk-responsive-padding(2, "top");
  @include govuk-responsive-margin(6, "bottom");
  border-top: 2px solid $govuk-brand-colour;

  & a,
  & ol,
  & p,
  & ul,
  & .govuk-body,
  & .govuk-link,
  & .govuk-list {
    @include govuk-font(16);
  }

  & .govuk-body-l,
  & p.lead {
    @include govuk-font(19);
  }

  & .govuk-body-s {
    @include govuk-font(16);
  }

  h1 {
    @extend .govuk-heading-l;
  }

  h2 {
    @extend .govuk-heading-m;
  }

  h3 {
    @extend .govuk-heading-s;
  }

  h4 {
    @extend .govuk-heading-s;
  }
}

// Department colours
@each $i, $v in $govuk-colours-organisations {
  .not-govuk-page--#{$i} .not-govuk-aside,
  .not-govuk-page--#{$i} aside {
    $contrast-safe: map_get($v, "contrast-safe");
    $light-colour: map_get($v, "colour");
    $colour: if($contrast-safe, $contrast-safe, $light-colour);
    border-color: $colour;
  }
}

.not-govuk-page--hm-passport-office .not-govuk-aside,
.not-govuk-page--hm-passport-office aside,
.not-govuk-page--hmpo .not-govuk-aside,
.not-govuk-page--hmpo aside {
  $home-office: map-get($govuk-colours-organisations, "home-office");

  border-color: map_get($home-office, "colour-websafe");
}
