// Text
$govuk-text-colour: #0b0c0c;
$govuk-secondary-text-colour: #6f777b;

// Links
$govuk-link-colour: #1d70b8;
$govuk-link-hover-colour: #003078;
$govuk-link-visited-colour: #4c2c92;
$govuk-link-active-colour: #0b0c0c;

// Border
$govuk-border-colour: #b1b4b6;
$govuk-input-border-colour: #0b0c0c;

// Focus state
$govuk-focus-colour: #ffdd00;
$govuk-focus-text-colour: #0b0c0c;

// Error state
$govuk-error-colour: #d4351c;

// Brand colour
$govuk-brand-colour: #1d70b8;
$home-office-brand-colour: #9325b2;

//Others
$govuk-black: #0b0c0c;
$govuk-dark-grey: #6f777b;
$govuk-mid-grey: #b1b4b6;
$govuk-light-grey: #f3f2f1;
$govuk-white: #ffffff;
