/* Simple reset */
html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}

body, #root {
    font-family: 'GDS Transport', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-size: 0.875rem;
}

body.internal, .internal {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
}

main {
    font-size: 16px;
    font-size: 1rem;
}

.internal main {
    font-size: 15px;
    font-size: 0.9375rem;
}

@media (min-width: 40.0625em) {
    body, #root {
        font-size: 16px;
        font-size: 1rem;
    }

    body.internal, .internal {
        font-size: 15px;
        font-size: 0.9375rem;
    }

    main {
        font-size: 19px;
        font-size: 1.1875rem;
    }

    .internal main {
        font-size: 18px;
        font-size: 1.125rem;
    }
}

#top, #middle, #bottom {
    overflow: auto;
    flex: 0 0 auto;
    padding: 0 1em;
}

@media (min-width: 40.0625em) {
    #top, #middle, #bottom {
        padding: 0 2em;
    }
}

#top > .inner,
#middle > .inner,
#bottom > .inner {
    padding: 0.625em 0;
    max-width: 68.75em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.internal #top > .inner,
.internal #middle > .inner,
.internal #bottom > .inner {
    max-width: none;
}

#top > .inner {
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
}

#top {
    background-color: #0b0c0c;
    color: white;
    /*
    border-bottom: 0.625rem solid #1d70b8;
    */
    font-weight: bold;
}

#top a,
#top a:visited,
#top a:hover {
    color: white;
    text-decoration: none;
}

#top a:hover {
    text-decoration: underline;
}

#top li.active a {
    color: #1d8feb;
}

#middle {
    background-color: white;
    color: #0b0c0c;
    flex: 1 0 auto;
}

#middle > .inner {
    border-top: 0.625rem solid #1d70b8;
}

.home-office #middle > .inner,
.hmpo #middle > .inner {
    border-color: #9325b2;
}

#middle a {
    color: #1d70b8;
}

#middle a:hover {
    color: #003078;
}

#middle a:visited {
    color: #4c2c92;
}

#middle main {
    flex: 1 1 auto;
}

#middle aside {
    flex: 0 1 20em;
    border-top: 0.625rem solid #1d70b8;
    margin-left: 2em;
}

.home-office #middle aside,
.hmpo #middle aside {
    border-color: #9325b2;
}

body, #root, #bottom {
    background-color: #f3f2f1;
    color: #0b0c0c;
}

#bottom {
    border-top: 1px solid #b1b4b6;
}

#logo {
    display: inline-block;
    background-image: url('../assets/images/crown.png');
    background-repeat: no-repeat;
    border-bottom: 1px solid black;
    flex: 0 0 10.25rem;
    min-height: 2em;
}

#logo:hover {
    border-bottom: 1px solid white;
    text-decoration: none !important;
}

#logo:before {
    content: 'GOV.UK';
    margin-left: 2.5rem;
    font-size: 2em;
}

.home-office #logo:before {
    content: 'Home Office';
    font-size: 1.25em;
    position: relative;
    top: 0.375rem;
}

.hmpo #logo:before {
    content: 'HMPO';
}

#service-title {
    font-size: 1.5em;
}

#nav {
    flex: 0 1 auto;
}

#nav ul {
    margin: 0;
    padding: 0;
}

#nav ul li {
    display: inline;
    margin-right: 0.7em;
}

#sign-out {
    flex: 0 0 9.625rem;
    text-align: right;
}

#bottom > .inner {
    align-items: flex-end;
    justify-content: center;
    min-height: 3em;
}

#open-government-license {
    background-image: url('../assets/images/ogl.svg');
    background-repeat: no-repeat;
    padding-left: 3.3em;
    flex: 1 1 auto;
}

#crown-copyright {
    display: inline-block;
    background-image: url('../assets/images/govuk-crest.svg');
    background-position: 50% 0;
    background-size: 125px 102px;
    background-repeat: no-repeat;
    padding-top: 112px;
    text-align: center;
    flex: 0 1 auto;
}

.internal #open-government-license,
.internal #crown-copyright {
    display: none;
}

/* Overrides */
.width-full,
.width-three-quarters,
.width-two-thirds,
.width-one-half,
.width-one-third,
.width-one-quarter {
    width: 100% !important;
}

@media (min-width: 40.0625em) {
    .width-three-quarters {
        width: 75% !important;
    }

    .width-two-thirds {
        width: 66.66% !important;
    }

    .width-one-half {
        width: 50% !important;
    }

    .width-one-third {
        width: 33.33% !important;
    }

    .width-one-quarter {
        width: 25% !important;
    }
}

.invisible {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}

/**********************************************************************
 * TYPOGRAPHY                                                         *
 **********************************************************************/
/* Headings */
h1 {
    font-size: 2em;
    line-height: 1.09375;
    margin: 0 0 0.9375em 0;
}

h2 {
    font-size: 1.5em;
    line-height: 1.0416;
    margin: 0 0 0.78125em 0;
}

h3 {
    font-size: 1.125em;
    line-height: 1.11111;
    margin: 0 0 0.833em 0;
}

h4 {
    font-size: 1em;
    line-height: 1.25;
    margin: 0 0 0.9375em 0;
}

/* Captions in headings */
.caption {
    display: block;
    color: #6f777b;
    font-size: 0.5625em;
    font-weight: normal;
    margin-bottom: 0.28em;
    line-height: 1.11;
}

/* Paragraphs */
p {
    max-width: 46em;
}

/* Lead paragraph */
p.lead {
    font-size: 1.26em;
}

/* Small paragraph */
p.small {
    font-size: 0.875em;
}

/* Lists */
ol, ul {
    line-height: 1.25;
    padding: 0 0 0 1.25em;
    margin: 0 0 0.9375em 0;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

ul.plain {
    list-style-type: none;
    padding: 0;
}

ul.plain > li {
    margin-bottom: 0.3125em;
}

/* Section break */
hr {
    border: 0;
    border-bottom: 1px solid #b1b4b6;
    margin: 1em 0;
}

/**********************************************************************
 * COMPONENTS                                                         *
 **********************************************************************/

/* Back link */
#back-link, a.back {
    color: #0b0c0c !important;
    display: inline-block;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    border-bottom: 1px solid #0b0c0c;
    text-decoration: none;
}

#back-link:before,
a.back:before {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 0.357em 0.429em 0.357em 0;
    border-right-color: inherit;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/* Breadcrumbs */
#breadcrumbs, .breadcrumbs {
    flex: 0 1 100%;
    line-height: 1.25;
    margin: 1em 0 0.625em 0;
}

#breadcrumbs ol,
.breadcrumbs ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#breadcrumbs ol li,
.breadcrumbs ol li {
    display: inline-block;
    margin-right: 0.3em;
}

#breadcrumbs ol li:before,
.breadcrumbs ol li:before {
    display: inline-block;
    content: '>';
    color: #6f777b;
    padding-right: 0.5em;
}

#breadcrumbs ol li:first-child:before,
.breadcrumbs ol li:first-child:before {
    content: '';
    padding-right: 0;
}

#breadcrumbs a,
.breadcrumbs a {
    color: #0b0c0c !important;
}

/* Button */
input[type=button],
input[type=submit],
.button {
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    background-color: #00703c;
    color: white !important;
    padding: 0.5rem 0.625rem 0.44rem;
    border: 2px solid transparent;
    box-shadow: 0 2px 0 #002d18;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.1875;
    width: 100%;
    margin-bottom: 1.375rem;
    text-align: center;
}

@media (min-width: 40.0625em) {
    input[type=button],
    input[type=submit],
    .button {
        width: auto;
        margin-bottom: 2rem;
    }
}

input[type=button]:hover,
input[type=submit]:hover,
.button:hover {
    background-color: #005a30;
}

input[type=button]:focus,
input[type=submit]:focus,
.button:focus {
    border-color: #fd0;
    outline: 3px solid transparent;
    box-shadow: inset 0 0 0 1px #fd0 !important;
}

input[type=button]:focus:not(:active):not(:hover),
input[type=submit]:focus:not(:active):not(:hover),
.button:focus:not(:active):not(:hover) {
    border-color: #fd0;
    color: #0b0c0c !important;
    background-color: #fd0;
    box-shadow: 0 2px 0 #0b0c0c !important;
}

input[type=button].start,
input[type=submit].start,
.start.button {
    display: inline-flex;
    font-weight: bold;
    font-size: 1.125em;
    line-height: 1;
    justify-content: center;
}

@media (min-width: 40.0625em) {
    input[type=button].start,
    input[type=submit].start,
    .start.button {
        font-size: 1.26em;
    }
}

input[type=button],
input[type=submit].secondary,
.secondary.button {
    background-color: #f3f2f1;
    color: #0b0c0c !important;
    box-shadow: 0 2px 0 #929191;
}

input[type=button]:hover,
input[type=submit].secondary:hover,
.secondary.button:hover {
    background-color: #dbdad9;
}

input[type=button].warning,
input[type=submit].warning,
.warning.button {
    background-color: #d4351c;
    color: white !important;
    box-shadow: 0 2px 0 #55150b;
}

input[type=button].warning:hover,
input[type=submit].warning:hover,
.warning.button:hover {
    background-color: #aa2a16;
}

input[type=button]:disabled,
input[type=submit]:disabled,
.disabled.button {
    cursor: default;
    opacity: 0.5;
}

input[type=submit]:disabled:hover,
.disabled.button:hover {
    background-color: #00703c;
}

input[type=button]:disabled:hover,
.disabled.secondary.button:hover {
    background-color: #f3f2f1;
}

input[type=submit].warning:disabled:hover,
input[type=button].warning:disabled:hover,
.disabled.warning.button:hover {
    background-color: #d4351c;
}

/* Checkbox and radio */
.checkboxes .item,
.radios .item {
    display: block;
    position: relative;
    padding-left: 2.5em;
    min-height: 2.5em;
    margin-bottom: 0.625em;
}

.checkboxes .item:last-child,
.radios .item:last-child {
    margin-bottom: 0;
}

@media (min-width: 40.0625em) {
    .checkboxes .item, .radios .item {
        float: left;
        margin-right: 1.25em;
        clear: none;
    }
}

.checkboxes .item input[type=checkbox],
.radios .item input[type=radio] {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: -0.125em;
    left: -0.125em;
    width: 2.75em;
    height: 2.75em;
    margin: 0;
    opacity: 0;
}

.checkboxes .item .hint,
.radios .item .hint {
    padding: 0 0.9375em;
}

.checkboxes .item label,
.radios .item label {
    display: inline-block;
    cursor: pointer;
    padding: 0.5em 0.9375em 0.3125em;
    margin: 0;
    touch-action: manipulation;
}

.checkboxes .item label:before,
.checkboxes .item label:after,
.radios .item label:before,
.radios .item label:after {
    content: '';
    position: absolute;
}

.radios .item label:before,
.radios .item label:after {
    border-radius: 50%;
}

.checkboxes .item label:before,
.radios .item label:before {
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 2.5em;
    height: 2.5em;
    border: 2px solid currentColor;
    background-color: transparent;
}

.checkboxes .item label:after,
.radios .item label:after {
    border-style: solid;
    border-color: currentColor;
    opacity: 0;
}

.radios .item label:after {
    border-width: 0.625em;
    background-color: currentColor;
    width: 0;
    height: 0;
    top: 0.625em;
    left: 0.625em;
}

.checkboxes .item label:after {
    transform: rotate(-45deg);
    border-width: 0 0 0.3125em 0.3125em;
    width: 1.125em;
    height: 0.4375em;
    top: 0.6875em;
    left: 0.5625em;
}

.checkboxes .item input:focus + label:before,
.radios .item input:focus + label:before {
    border-width: 4px;
    box-shadow: 0 0 0 3px #fd0
}

.checkboxes .item input:disabled,
.radios .item input:disabled,
.checkboxes .item input:disabled + label,
.radios .item input:disabled + label {
    cursor: default;
}

.checkboxes .item input:disabled + label,
.radios .item input:disabled + label {
    opacity: 0.5;
}

.checkboxes .item input:checked + label:after,
.radios .item input:checked + label:after {
    opacity: 1;
}

/* Date input */
.date-input .item {
    display: inline-block;
    margin-right: 1.25em;
}

/* Details */
details {
    margin-bottom: 1.25em;
}

summary {
    display: inline-block;
    position: relative;
    margin-bottom: 0.3125em;
    padding-left: 1.5625em;
    color: #1d70b8;
    cursor: pointer;
    text-decoration: underline;
}

summary:hover {
    color: #003078;
}

summary:focus {
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
}

summary::before {
    content: "";
    position: absolute;
    top: 0.0625em;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    border-style: solid;
    border-width: 0.4375em 0 0.4375em 0.75775em;
    border-color: transparent;
    border-left-color: inherit;
}

details[open] > summary::before {
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    border-width: 0.75775em 0.4375em 0 0.4375em;
    border-color: transparent;
    border-top-color: inherit;
}

details > .content {
    padding: 0.9375em 0.9375em 0.9375em 1.25em;
    border-left: 0.3125em solid #b1b4b6;
}

/* Error message */
/* Error summary */

/* Fieldset */
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.form-group {
    margin-bottom: 1.25em;
}

.form-group.error {
    padding-left: 0.9375em;
    border-left: 0.3125em solid #d4351c;
}

legend {
    font-size: 1.1875rem;
    font-weight: bold;
    padding: 0;
    margin-bottom: 0.9375em;
}

label, .hint, .message {
    display: block;
    line-height: 1.25;
    margin: 0 0 0.9375em 0;
}

label {
    margin: 0 0 0.3125em 0;
}

.hint {
    color: #6f777b;
}

.message {
    clear: both;
    font-weight: bold;
}

.error .message {
    color: #d4351c;
}

label + .hint {
    margin-bottom: 0.625em;
}

legend + .hint {
    margin-top: -0.3125em;
}

/* File upload */
/* Inset text */
/* Panel */
/* Phase banner */
#phase-banner, .phase-banner {
    flex: 0 1 100%;
    padding-bottom: 0.625em;
    border-bottom: 1px solid #b1b4b6;
}

#phase-banner > strong,
.phase-banner > strong {
    display: inline-block;
    padding: 0.357em 0.571em 0.286em 0.571em;
    margin-right: 0.5em;
    background-color: #1d70b8;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
}

.home-office #phase-banner > strong,
.home-office .phase-banner > strong,
.hmpo #phase-banner > strong,
.hmpo .phase-banner > strong {
    background-color: #9325b2;
}

/* Select */
/* Skip link */
#skip-link, .skip-link {
    display: block;
    position: absolute;
    background-color: transparent;
    color: transparent;
    padding: 0.625em 1em;
    line-height: 1.25;
    overflow: hidden;
    height: 1px;
    width: 1px;
}

#skip-link:focus, .skip-link:focus {
    position: static;
    height: auto;
    width: auto;
    background-color: #fd0;
    color: #0b0c0c;
    outline: 0.1875em solid #fd0;
    overflow: visible;
}

/* Summary list */
/* Table */
/* Tabs */
/* Tag */
/* Text input */
input {
    line-height: 1.25;
    box-sizing: border-box;
    width: 100%;
    height: 2.5em;
    padding: 0.3125em;
    border: 2px solid #0b0c0c;
    appearance: none;
    -moz-appearance: none;
    font-size: inherit;
    font-family: inherit;
}

.error input {
    border: 4px solid #d4351c;
}

input:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
}

.error input:focus {
    border-color: #0b0c0c;
    box-shadow: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input.width-30 {
    max-width: 59ex;
}

input.width-20 {
    max-width: 41ex;
}

input.width-10 {
    max-width: 23ex;
}

input.width-5 {
    max-width: 10.8ex;
}

input.width-4 {
    max-width: 9ex;
}

input.width-3 {
    max-width: 7.2ex;
}

input.width-2 {
    max-width: 5.4ex;
}

/* Textarea */
/* Warning text */

