@import "@not-govuk/sass-base";
@import "govuk-frontend/govuk/components/checkboxes";

// Need this until we can upgrade govuk-frontend
.govuk-checkboxes__divider {
  $govuk-checkboxes-size: 40px;
  $govuk-divider-size: $govuk-checkboxes-size !default;
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  width: $govuk-divider-size;
  margin-bottom: govuk-spacing(2);
  text-align: center;
}
