name: Deploy
on:
  push:
jobs:
  chromatic:
    name: Chromatic
    runs-on: ubuntu-latest
    steps:

      - name: Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup
        uses: ./.github/actions/setup
        with:
          node: 24

      - name: Build Storybook
        uses: ./.github/actions/build-app
        with:
          app: 'storybook'

      - name: Push Storybook to Chromatic
        uses: chromaui/action@v15
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          autoAcceptChanges: master
          exitZeroOnChanges: true
          exitOnceUploaded: true
          onlyChanged: true
          workingDir: './apps/storybook'
          storybookBuildDir: './dist'

  deploy-docs-to-netlify:
    name: Deploy to Netlify and test
    uses: './.github/workflows/deploy-to-netlify.yml'
    with:
      app: docs
      node: 24
      production-branch: master
    secrets:
      CYPRESS_PROJECT_ID: ${{ secrets.CYPRESS_PROJECT_ID }}
      CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
      NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
