name: 'Software Composition Analysis'
on:
  schedule:
    - cron: '35 1 * * 2'
jobs:
  analyse:
    name: Analyse
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup
        with:
          node: 24

      - name: Scan dependencies
        uses: ./.github/actions/scan-dependencies
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
